<% include _include/variables.ejs %>
<% config.__title = __('Categories') + ": " + page.category + " - " + config.title %>
<% include _include/head.ejs %>

<h3 class="section-title"><%= __('Categories') + ": " + page.category %></h3>

<div class="row stream-container">
    <div id="stream_inner_left" class="col-lg-6 col-md-6 col-no-h-padding">
        <div class="card-container">
            <div class="card card-item clear-border card-top-patch">
                <div class="card-item-container clear-flex-xs">
                    <div class="card-inner-cell"><h4 class="clear-margin"></h4>
                        <p class="clear-margin post-block-desc"></div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card card-item clear-border card-top-patch">
                <div class="card-item-container clear-flex-xs">
                    <div class="card-inner-cell"><h4 class="clear-margin"></h4>
                        <p class="clear-margin post-block-desc"></div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card card-item clear-border card-top-patch">
                <div class="card-item-container clear-flex-xs">
                    <div class="card-inner-cell"><h4 class="clear-margin"></h4>
                        <p class="clear-margin post-block-desc"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="stream_inner_right" class="col-lg-6 col-md-6 col-no-h-padding">
        <div class="card-container">
            <div class="card card-item clear-border card-top-patch">
                <div class="card-item-container clear-flex-xs">
                    <div class="card-inner-cell"><h4 class="clear-margin"></h4>
                        <p class="clear-margin post-block-desc"></div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card card-item clear-border card-top-patch">
                <div class="card-item-container clear-flex-xs">
                    <div class="card-inner-cell"><h4 class="clear-margin"></h4>
                        <p class="clear-margin post-block-desc"></div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card card-item clear-border card-top-patch">
                <div class="card-item-container clear-flex-xs">
                    <div class="card-inner-cell"><h4 class="clear-margin"></h4>
                        <p class="clear-margin post-block-desc"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="__pending_category_item_container" style="display:none">
    <% site.tags.each(function (item) { %>
    <div class="card-container">
        <div class="card card-item clear-border card-top-patch">
            <a class="a-block" href="<%= url_for(item.path) %>" rel="noopener noreferrer">
                <div class="card-item-container clear-flex-xs">
                    <div class="card-inner-cell">
                        <h4 class="clear-margin"><%= item.name %></h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <% }) %>
</div>

<% include _include/before_script.ejs %>

<script>
    let cachedCategoriesNodes;
    let leftContainer;
    let rightContainer;
    let lastColumnCount;
    let loadingIndicator;

    $(document).ready(function () {
        loadingIndicator = $("#global-loading-indicator");

        lastColumnCount = -1;
        leftContainer = $('#stream_inner_left');
        rightContainer = $('#stream_inner_right');

        function reLayoutPosts() {
            // suppress unnecessary re-layouts
            let columnCount = window.innerWidth < 768 ? 1 : 2;
            if (columnCount === lastColumnCount)return;
            loadingIndicator.show();
            lastColumnCount = columnCount;
            let leftHeight = 0;
            let rightHeight = 0;
            leftContainer.empty();
            rightContainer.empty();
            cachedCategoriesNodes = $("#__pending_category_item_container").find("> .card-container");
            for (let i = 0; i < cachedCategoriesNodes.length; i++) {
                let post = $(cachedCategoriesNodes[i]).clone();
                if (columnCount === 1 || leftHeight <= rightHeight) {
                    leftContainer.append(post);
                    leftHeight += post.height();
                } else {
                    rightContainer.append(post);
                    rightHeight += post.height();
                }
            }
            loadingIndicator.fadeOut(600);
        }

        $(window).resize(function () {
            reLayoutPosts();
        });

        reLayoutPosts();
    });
</script>

<% include _include/tail.ejs %>