p#jnl_patrial_head_title(style="display: none")= page.title + " · " + config.title

- var desc = page.desc || strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 140);
p#jnl_patrial_head_description(style="display: none")= desc

p#jnl_patrial_featured_image(style="display: none")= page.featured_image ? page.featured_image : ""

p#jnl_patrial_title(style="display: none")= page.title

.autopagerize_page_element: .content: .post-page
    include mixins
    +make_post(page, true)
    include partial/comments
