<% include _include/variables.ejs %>
[% @block OverrideVars %]
<% include _include/head.ejs %>
<% include _include/container_head.ejs %>
<% include _include/single_column_head.ejs %>
<% include _include/side_nav.ejs %>
<% include _include/extra_nav.ejs %>

<div ref="streamContainer" class="stream-container">
    [% @block MainBody %]
    <% include _include/single_column_footer.ejs %>
</div>

<% include _include/container_tail.ejs %>
[% @block CommentsInclude %]
<% include _include/tail.ejs %>