<% include _include/variables.ejs %>
<% config.__title = __("Tags") + " - " + config.title %>
<% include _include/head.ejs %>
<% include _include/container_head.ejs %>
<% include _include/single_column_head.ejs %>
<% include _include/side_nav.ejs %>
<% include _include/extra_nav.ejs %>

<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <a class="a-block">
            <div class="post-item-wrapper post-item-wrapper-no-hover">
                <div class="post-item post-item-no-gaps">
                    <div class="post-item-info-wrapper">
                        <div class="post-item-title post-item-title-small">
                            <%= __("Tags") %>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <% site.tags.each(function (item) { %>
        <a href="<%= config.root + item.path %>" class="a-block">
            <div class="post-item-wrapper">
                <div class="post-item post-item-no-gaps">
                    <div class="post-item-info-wrapper">
                        <div class="post-item-title">
                            <%= item.name %>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <% }) %>

        <% include _include/pagination.ejs %>
    </div>

    <% include _include/single_column_footer.ejs %>
</div>

<% include _include/container_tail.ejs %>

<% include _include/tail.ejs %>