@import url("https://fonts.lug.ustc.edu.cn/css?family=Source+Sans+Pro:400|Montserrat|Anonymous+Pro:400|Material+Icons");

* {
    font-family: "Source Sans Pro", "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #555;
}

body {
    background: #f0f0f0;
}

/* OVERRIDE */

.nav-background {
    z-index: 988;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

/* END OF OVERRIDE */

#stage {
    text-align: center;
}

.nav-content {
    z-index: 1000;
}

.clear-margin {
    margin: 0 !important;
}

.clear-padding {
    padding: 0 !important;
}

.v-auto-gap > :not(:last-child) {
    margin-bottom: 8px !important;
}

.page-head {
    padding: 100px 15px;
    -webkit-transition: padding 0.5s ease-in-out, margin 0.5s ease-in-out;
    -moz-transition: padding 0.5s ease-in-out, margin 0.5s ease-in-out;
    -ms-transition: padding 0.5s ease-in-out, margin 0.5s ease-in-out;
    -o-transition: padding 0.5s ease-in-out, margin 0.5s ease-in-out;
    transition: padding 0.5s ease-in-out, margin 0.5s ease-in-out;
    text-align: center;
}

.page-head * {
    font-family: "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
}

.Montserrat {
    font-family: "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
}

.AnonymousPro {
    font-family: "Anonymous Pro", "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
}

#nav_title, #nav_background {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#nav_dropdown_btn {
    display: none;
    background: none !important;
    border: none;
}

.dropdown-menu {
    left: 0;
    float: left;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding: 0;
}

.navbar-brand {
    padding-left: 5px !important;
}

.nav-dropdown-toggle:hover {
    color: #3f587d !important;
}

.nav-icon-group {
    z-index: 1888;
    padding-right: 5px;
}

.nav-icon-group ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-icon-group li {
    display: inline;
    margin: 0;
    padding: 0;
}

.nav-icon {
    padding: 8px;
}

.global-loading-indicator {
    position: absolute;
    top: 0;
    z-index: 99999;
    width: 100%;
}

.toc {
    position: relative;
    z-index: 0;
    max-width: 890px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: right;
    font-size: 11px;
}

a.header-anchor {
    opacity: 0;
    visibility: hidden;
}

*[id]:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}

.toc > ul {
    margin-left: 10px;
    max-width: 180px;
    position: fixed;
    z-index: 0;
    top: 180px;
    display: inline-block;
    text-align: left;
    list-style-type: decimal;
}

.toc > ul ul {
    list-style-type: none;
}

.toc > ul > li > ul {
    padding-left: 10px;
}

.toc > ul > li > ul > li > ul {
    padding-left: 20px;
}

.card {
    border-radius: .2rem;
}

a {
    cursor: hand;
    cursor: pointer;
    -webkit-transition: color 0.3s linear, padding 0.3s linear, opacity 0.3s linear;
    -moz-transition: color 0.3s linear, padding 0.3s linear, opacity 0.3s linear;
    -ms-transition: color 0.3s linear, padding 0.3s linear, opacity 0.3s linear;
    -o-transition: color 0.3s linear, padding 0.3s linear, opacity 0.3s linear;
    transition: color 0.3s linear, padding 0.3s linear, opacity 0.3s linear;
}

.a-block {
    text-decoration: none;
    color: unset;
}

.a-block:hover {
    text-decoration: none;
    color: unset;
}

.stream-container {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
}

.col-no-h-padding {
    padding-left: 0;
    padding-right: 0;
}

.card-item {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.card-item:hover {
    -webkit-transform: translateY(-2px) translateZ(0px);
    -moz-transform: translateY(-2px) translateZ(0px);
    -ms-transform: translateY(-2px) translateZ(0px);
    -o-transform: translateY(-2px) translateZ(0px);
    transform: translateY(-2px) translateZ(0px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .30);
}

.card-clear-hover:hover {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .15) !important;
}

.card-inner-cell {
    padding: 25px 25px;
    width: 100%;
}

.card-image {
    width: 100%;
    height: 240px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.card-image:after {
    border-radius: .2rem .2rem 0 0 !important;
    content: '\A';
    position: absolute;
    width: 100%;
    height: 240px;
    top: 0;
    left: 0;
    opacity: .3;
    background: url("../images/texture_stripe_inv.png") repeat;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    overflow: hidden;
}

.card-image-bigger {
    height: 280px !important;
}

.card-image-bigger:after {
    height: 280px !important;
}

.card-image:hover:after {
    opacity: 0;
}

.card-top-patch {
    border-top-left-radius: .3rem !important;
    border-top-right-radius: .3rem !important;
}

.card-container {
    padding: 10px;
    width: 100%;
}

.card-container img {
    max-width: 100%;
}

.card-left-date {
    font-size: 16px;
    padding-right: 0;
    text-align: center;
    border-right: 0 dotted rgba(0, 0, 0, .1);
    align-self: flex-start;
}

.card-left-date * {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4) !important;
}

.card-item-container {
    display: flex;
    align-items: center;
}

.container-narrow {
    padding: 10px;
    max-width: 860px;
}

.page-number {
    padding-left: 10px;
    padding-right: 10px;
}

.pagination {
    display: block;
}

.newer-posts {
    float: left;
}

.older-posts {
    float: right;
}

.pagination-flex {
    display: flex;
}

.pagination-flex-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pagination-flex-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pagination-flex-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outside-padding-patch {
    padding: 10px;
}

.navbar-brand {
    padding-left: 10px;
    padding-right: 10px;
}

.invisible-not-xs {
    display: none !important;
}

.card-radius {
    border-radius: .2rem;
}

.clear-border {
    border: none;
}

.clear-top-border-radius {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.clear-bottom-border-radius {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.clear-background {
    background: transparent;
}

.section-title {
    padding: 10px 10px 5px 10px;
    margin: 0;
}

.post-block-desc {
    margin-top: 5px !important;
}

a {
    color: #333 !important;
    text-decoration: none;
}

a:hover, a:focus {
    color: #3f587d !important;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px 0;
}

footer * {
    font-size: 14px !important;
    font-family: "Montserrat", "Source Sans Pro", "Roboto", Helvetica, Arial, sans-serif !important;
}

footer > p {
    margin-bottom: 0;
}

@media (max-width: 1120px) {
    .top-background {
        height: 450px;
    }
}

@media (max-width: 1120px) {
    .toc {
        display: none;
        visibility: hidden;
    }

    .top-background {
        height: 450px;
    }
}

@media (max-width: 991px) {
    .top-background {
        height: 400px;
    }
}

@media (min-width: 768px) {
    .dropdown-menu {
        all: initial;
    }
}

@media (max-width: 768px) {
    .nav-icon-group li {
        display: block !important;
        padding: 5px !important;
    }

    #nav_dropdown_btn {
        display: block;
    }

    .dropdown {
        position: initial;
    }

    .dropdown-menu {
        left: 0;
        float: left;
        padding: 5px 0 !important;
        margin-left: 10px !important;
        margin-top: -10px !important;
        border: 1px solid rgba(0, 0, 0, .01);
        box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
    }

    .page-head {
        padding: 96px 15px 60px 15px;
    }

    .top-background {
        height: 320px;
    }

    .clear-float-xs {
        float: none !important;
    }

    .clear-flex-xs {
        display: block !important;
    }

    .invisible-xs {
        display: none !important;
    }

    .invisible-not-xs {
        display: block !important;
    }

    .card-left-date {
        font-size: 14px;
        text-align: left;
        border-right: none;
        padding-right: 20px;
    }
}