<% if(page.no_comments) { %>
<p style="opacity: 0.6; padding: 30px 15px" align="center">
    <small><%= __('CommentsDisabled') %></small>
</p>
<% } else { %>
<% if(theme.disqus){ %>
<div class="post-comment-wrapper">
    <div id="disqus_thread"></div>
</div>
<% } else if(theme.livere){ %>
<div id="lv-container" data-id="city" data-uid="<%= theme.livere %>">
</div>
<% } %>
<% } %>