<!DOCTYPE html>
<html lang="<%= config.language %>" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <% include head_meta.ejs %>
    <meta charset="utf-8">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <meta name="theme-color" content="#ffffff">
    <% include head_includes.ejs %>
</head>
<body>
<div id="top"></div>